<h1>About Pin BassCoast</h1>

<p>A photo sharing portal for discovering the best pictures from the magical basscoast music festival</p>

<a href="http://www.domo.com/learn/"><img src="http://www.domo.com/blog/wp-content/uploads/2014/03/Government_Savings51.png" alt="infographic" /></a>