
<html>

<div class="jumbotron center">
<h1><font color="white">Pin Bass Coast</font></h1>
<p>A place to share the magic of basscoast with the community.</p>
<p>Upload/UpVote Your Favourate BassCoast Photos.</p>
<p></p>

<p> Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %></p>

</div>
</div>
</body>
</html>