
<html>

<div class="jumbotron">
<h1>Pin Bass Coast</h1>
<p>Share your magical photos with the community here.</p>
<p>Upload/UpVote Your Favourate BassCoast Photos.</p>
<p></p>

<p> Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %></p>

</div>
</div>
</body>
</html>